<p id="notice"><%= notice %></p>

<p>
  <strong>Lc number:</strong>
  <%= @exportlc.lc_number %>
</p>

<p>
  <strong>Issue date:</strong>
  <%= @exportlc.issue_date %>
</p>

<p>
  <strong>Expiry date:</strong>
  <%= @exportlc.expiry_date %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @exportlc.currency %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @exportlc.amount %>
</p>

<p>
  <strong>Applicant:</strong>
  <%= @exportlc.applicant %>
</p>

<p>
  <strong>Beneficiary:</strong>
  <%= @exportlc.beneficiary %>
</p>

<p>
  <strong>Issuing bank:</strong>
  <%= @exportlc.issuing_bank %>
</p>

<p>
  <strong>Tenor:</strong>
  <%= @exportlc.tenor %>
</p>

<p>
  <strong>Shipment from:</strong>
  <%= @exportlc.shipment_from %>
</p>

<p>
  <strong>Port of loading:</strong>
  <%= @exportlc.port_of_loading %>
</p>

<p>
  <strong>Port of discharge:</strong>
  <%= @exportlc.port_of_discharge %>
</p>

<p>
  <strong>Final destination:</strong>
  <%= @exportlc.final_destination %>
</p>

<p>
  <strong>Latest shipment date:</strong>
  <%= @exportlc.latest_shipment_date %>
</p>

<p>
  <strong>Partial shipment:</strong>
  <%= @exportlc.partial_shipment %>
</p>

<p>
  <strong>Transhipment:</strong>
  <%= @exportlc.transhipment %>
</p>

<p>
  <strong>Goods description:</strong>
  <%= @exportlc.goods_description %>
</p>

<p>
  <strong>Documents required:</strong>
  <%= @exportlc.documents_required %>
</p>

<p>
  <strong>Additional conditions:</strong>
  <%= @exportlc.additional_conditions %>
</p>

<p>
  <strong>Drawee:</strong>
  <%= @exportlc.drawee %>
</p>

<p>
  <strong>Available with:</strong>
  <%= @exportlc.available_with %>
</p>

<p>
  <strong>Available by:</strong>
  <%= @exportlc.available_by %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @exportlc.remarks %>
</p>

<%= link_to 'Edit', edit_exportlc_path(@exportlc) %> |
<%= link_to 'Back', exportlcs_path %>
