<%= form_with(model: document, local: true) do |form| %>
  <% if document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
        <% document.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :document_date %>
    <%= form.date_select :document_date %>
  </div>

  <div class="field">
    <%= form.label :document_currency %>
    <%= form.text_field :document_currency %>
  </div>

  <div class="field">
    <%= form.label :document_amount %>
    <%= form.text_field :document_amount %>
  </div>

  <div class="field">
    <%= form.label :shipment_date %>
    <%= form.date_select :shipment_date %>
  </div>

  <div class="field">
    <%= form.label :country_of_origin %>
    <%= form.text_field :country_of_origin %>
  </div>

  <div class="field">
    <%= form.label :incoterms %>
    <%= form.text_field :incoterms %>
  </div>

  <div class="field">
    <%= form.label :shipment_from %>
    <%= form.text_field :shipment_from %>
  </div>

  <div class="field">
    <%= form.label :port_of_loading %>
    <%= form.text_field :port_of_loading %>
  </div>

  <div class="field">
    <%= form.label :port_of_discharge %>
    <%= form.text_field :port_of_discharge %>
  </div>

  <div class="field">
    <%= form.label :final_destination %>
    <%= form.text_field :final_destination %>
  </div>

  <div class="field">
    <%= form.label :goods_description %>
    <%= form.text_area :goods_description %>
  </div>

  <div class="field">
    <%= form.label :consignee %>
    <%= form.text_area :consignee %>
  </div>

  <div class="field">
    <%= form.label :shipper %>
    <%= form.text_area :shipper %>
  </div>

  <div class="field">
    <%= form.label :notify_party %>
    <%= form.text_area :notify_party %>
  </div>

  <div class="field">
    <%= form.label :issuing_bank %>
    <%= form.text_area :issuing_bank %>
  </div>

  <div class="field">
    <%= form.label :remarks %>
    <%= form.text_area :remarks %>
  </div>

  <div class="field">
    <%= form.label :exportlc_id %>
    <%= form.text_field :exportlc_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
